* {
    box-sizing: border-box;
}

/* write your rules below  this line*/

.dark-bg {
    background-color: rgb(146, 164, 164);
}

.light-text {
    color:rgb(202, 240, 205)
}

.rounded {
    border-radius:10px;
}

.spaced-out {
    padding:20px;
}

#page-title {
    font-size: 48px;
    text-align: center
}

.card {
    padding: 35px;
    background-color: pink;
    border: 5px solid khaki
}

.warning {
    background-color: red;
    color: yellow
}

.img-style {
    border:25px solid pink;
    border-radius: 10px
}

.label {
    background-color: khaki;
    padding: 34px;
    border-radius: 45px;
}

#footer {
    background-color: darkslategrey;
    color:aliceblue;
    text-align: center;
}

.tag {
    color:blueviolet;
    background-color:chartreuse;
}

.banana {
    color:yellow;
    background-color:khaki
}

#alarm {
    background-color: red;
    color: yellow
}